.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, #152640, #A62323);
  color: white;
  height: 100vh;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  padding: 10px;
  width: 50%;
}

button {
  padding: 10px;
  color: purple;
  background-color: white;
}